section {
    background-image: url("../img/hhhh.png");
    background-size: cover;
    position: relative;
    z-index: -3;
}
section::before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 0%;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;
}
section .container {
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  min-height: 95vh;

}

section img {
  max-width: 320px;
}

.info {
  margin-right: 15px;
}
section .container .content h1 {
  font-size: 34px;
  font-family: "Shadows Into Light", cursive;
  color: gold;
}
section .container .content p {
  font-size: 28px;
}

 p {
  padding: 10px;
  font-size: 20px;
  color: gold;
}

 a {
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 14px;
  color: black;
  font-weight: bold;
  width: 165px;
  background-color: gold;
  transition: 0.3s;
}
 a:hover {
  background: white;
  color: gold;
}
.orginal-img {
  position: absolute;
  left: 27px;
  z-index: -1;
  bottom: 15px;
  transform: rotate(329deg);
  max-width: 80px;
}